h1 span {
  display:inline-block;
  background:tint($blue, 20%);
  color:$white;
  font-size:.6em;
  font-weight:700;
  padding:3px 5px;
  border-radius:2px;
  cursor:default;
}



.blog_main {
  @extend .column, .inner;
  padding-bottom:24px;

  > aside {
    @extend .island, .clearfix;

    h3 {
      font-size:1.2em;
      font-weight:700;
      margin-bottom:12px;
    }

    ul {
      list-style:disc inside;
    }

    li {
      margin-bottom:4px;
    }

    .full_archive {
      margin-top:12px;
      float:right;
      list-style:none;
    }
  }
}

.on_archive .nav_link_archive {
  background:tint($black, 20%);
  color:shade($white, 20%);
  cursor:default;
  pointer-events:none;
}

.blog_post {
  line-height:1.4;
  margin-bottom:32px;
  
  h2 {
    font-size:2em;
    line-height:1;

    a {
      color:inherit;
      text-decoration:none;
    }
  }

  h3 {
    font-size:1.4em;
    font-weight:700;
    line-height:1;
    margin-bottom:16px;
  }

  h4 {
    font-size:1.2em;
    font-weight:700;
    line-height:1;
    margin-bottom:8px;
  }

  p, ul, ol, blockquote, pre {
    margin-bottom:24px;
  }

  em {
    font-style:italic;
  }

  blockquote {
    padding-left:20px;
    border-left:5px solid shade($cloud, 20%);
  }

  ul {
    list-style:disc outside;
    margin-left:25px;
  }

  ol {
    list-style:decimal outside;
    margin-left:25px;
  }

  p > img {
    display:block;
    max-width:100%;
  }
}

.date {
  color:shade($cloud, 30%);
}

.on_archive .blog_main {
  li {
    line-height:1.4;
  }

  a {
    font-size:2em;
    text-decoration:none;
    display:block;
    line-height:1;
  }
}