<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>
    {% if page.title %}
      {{ page.title }} |
    {% endif %}
    DeckCloud Blog
  </title>
  {% include head.html %}
</head>

<body class="{{ page.nav }}">
  <div class="global_container">
    <header class="app_header">
      <nav>
        <h1><a href="/">DeckCloud <span>Blog</span></a></h1>
        <ul>
          <li class="app_nav_item"><a href="/archive">Archive</a></li>
          <li class="app_nav_item"><a href="/atom.xml">Feed</a></li>
        </ul>
      </nav>
    </header>

    <main class="blog_main">{{ content }}</main>
  </div>
</body>
</html>